<% include bootstrap.ejs %>
<html>
<head>
<title>Add Movie</title>
</head>
<body>
	<h2>Add a new Movie</h2>
	<form class="navbar-form navbar-left" role="search"
		action="/addNewMovie" method="POST">
		<div class="col-xs-2"> 
	<!--div class="container"-->	
			Movie Name: <input type="text" name="movieName" id="mname"
				class="form-control" placeholder="Name" required ></input><br> <br>
			Movie Banner: <input type="text" name="movieBanner" id="mbanner"
				class="form-control" placeholder="Production name" required ></input><br> <br>
			Release Date: <input type="text" name="rdate" id="rdate"
				class="form-control" placeholder="YYYY" required ></input><br> <br>
			Rent Amount: <input type="text" name="rentAmount" id="rentAmount"
				class="form-control" placeholder="$$.$$" required ></input><br> <br>
			Category: <input type="text" name="category" id="category"
				class="form-control" placeholder="Mystery,Drama" required ></input><br> <br>
			Available Copies: <input type="text" name="quantity" id="quantity"
				class="form-control" placeholder="Copies" required ></input><br> <br>
			<br> <button type="submit" class="btn btn-primary" value="Add New Member">Submit</button>
	<!--/div-->
	</div>
	
	</form>
</body>
</html>