<html>
<head>
<title>Add Movie</title>
<style type="text/css">
.container{
width:200px;
}
</style>
</head>
<body>
<h2>Add a new Movie</h2>
<div class="container">
<form action="/createUser" method="POST">
Movie Name: <input type="text" name="movieName" id="mname"></input><br><br>
Movie Banner: <input type="text" name="movieBanner" id="mbanner"></input><br><br>
Release Date: <input type="text" name="rdate" id="rdate"></input><br><br>
Rent Amount: <input type="text" name="rentAmount" id="rentAmount"></input><br><br>
Category: <input type="text" name="category" id="category"></input><br><br>
Available Copies: <input type="text" name="quantity" id="quantity"></input><br><br>
<input type="submit" name="submit" value="Create Member"/>
</div>
</form>
</body>
</html>