<% include bootstrap.ejs %>
<html>
<head>
<title>homePage</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Home Page</h1>
			<br>
			<p class="text-left">Please Select Options</p>
		</div>
		<div class='row'>
			<form action="/loginPage">
				<input class="col-md-4 col-md-offset-4" type="submit" name="submit"
					value="Sign Out" style="float: right;" />
			</form>
		</div>
	</div>


	<div class="jumbotron">

		<form action="/searchCustomer" method="post">
			<label> Search Member </label> <input type="submit" class="btn btn-primary" name="submit"
				value="Search Member" />
		</form>
		<form action="/addCustomer" method="post">
			Create Member:<input type="submit" class="btn btn-primary" name="submit"
				value="Create Member" />
		</form>
		<form action="/searchMovie" method="post">
			Search Movie:<input type="submit" name="submit" class="btn btn-primary" value="Search Movie" />
		</form>
		<form action="/addMovie" method="post">
			Create Movie:<input type="submit" name="submit" class="btn btn-primary" value="Create Movie" />
		</form>
	</div>
</body>
</html>