<% include bootstrap.ejs %>
<html>
<head>
<title>Search Movie</title>

</head>
<body>
	<h1>Movie List</h1>
	<h3>
		Search for a Movie <span class="glyphicon glyphicon-search"></span>
	</h3>
	
	<div class="container">
	<form class="form-inline" role="form" id="getMovies" name="getMovies" action="/DisplayAllMoviesJSON"
			method="POST">
  <div class="form-group">
    <label class="sr-only" for="movieName">Movie Name</label>
    <input type="text" name="movieName" class="form-control" id="mname" placeholder="Movie Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="movieBanner">Banner Name</label>
    <input type="text" name="movieBanner" class="form-control" id="bname" placeholder="Banner Name">
  </div>
   <div class="form-group">
    <label class="sr-only" for="rdate">Release Date</label>
    <input type="text" name="rdate" class="form-control" id="rdate" placeholder="Release Date">
  </div>
  <div class="form-group">
    <label class="sr-only" for="category">Category</label>
    <input type="text" name="category" class="form-control" id="category" placeholder="Category">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

</div>
	<input type="hidden" value="<%= member%>" id="memshipno">;
	<table class="table table-bordered table-hover" id="movieTable" name="movieTable">
		<tr>
			<th>Movie Name</th>
			<th>Banner Name</th>
			<th>Release Year</th>
			<th>Category</th>
			<th>Rent</th>
			<th>Available Copies:</th>
		</tr>

	</table>
<script type="text/javascript">
var frm = $('#getMovies');


frm.submit(function (ev) {
    $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),
        success: function (data) {
        	$(function() {
        		$("#movieTable").find("tr:gt(0)").remove();
        	    $.each(data, function(i, item) {
        	    	if(item.name){
        	    		var button =  $('<input></input>').attr({'type': 'button', 'id': item.id}).val("Add To Cart");
        	        var $tr = $('<tr>').append(
        	            $('<td>').text(item.name),
        	            $('<td>').text(item.bannerName),
        	            $('<td>').text(item.releaseDate),
        	            $('<td>').text(item.category),
        	            $('<td>').text(item.rentAmount),
        	            $('<td>').text(item.availableCopies)
        	            ,$('<td>').append(button)
        	        ).appendTo('#movieTable');
        	        
        	        $("#movieTable").on('click', '#'+item.id,function(){
            	    	
            	    	alert("User " + $('#memshipno').attr('value') + " click: add To cart on ItemId: " + + item.id);
            	    });
        	    	}
        	    });
        	 
        	});
        	
        }
    });
    ev.preventDefault();
});


</script>
</body>
</html>