<% include bootstrap.ejs %>
<html>
<head>
<title>Search Movie</title>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>

</head>
<body>

<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/searchCustomer">Search Customer</a></li>
					<li><a href="/addCustomer">Add Customer</a></li>
					<li><a href="/searchMovie">Search Movie</a></li>
					<li><a href="/addMovie">Add Movie</a></li>
					
					
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
	<h3>
		Search for a Movie and Issue <span class="glyphicon glyphicon-search"></span>
	</h3>
	<form class="form-inline" role="form" id="getMovies" name="getMovies" action="/DisplayAllMoviesJSON"
			method="POST">
			
		<div class="form-group">
    <label class="sr-only" for="movieName">Movie Name</label>
    <input type="text" name="movieName" class="form-control" id="mname" placeholder="Movie Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="movieBanner">Banner Name</label>
    <input type="text" name="movieBanner" class="form-control" id="bname" placeholder="Banner Name">
  </div>
   <div class="form-group">
    <label class="sr-only" for="rdate">Release Date</label>
    <input type="text" name="rdate" class="form-control" id="rdate" placeholder="Release Date">
  </div>
  <div class="form-group">
    <label class="sr-only" for="category">Category</label>
    <input type="text" name="category" class="form-control" id="category" placeholder="Category">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
				
	<input type="hidden" value="<%= member%>" id="memshipno">
	<table class="table table-bordered table-hover" id="movieTable" name="movieTable">
		<tr>
			<th>Movie Name</th>
			<th>Banner Name</th>
			<th>Release Year</th>
			<th>Category</th>
			<th>Rent</th>
			<th>Available Copies:</th>
		</tr>

	</table>
<script type="text/javascript">
var frm = $('#getMovies');


frm.submit(function (ev) {
    $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),
        success: function (data) {
        	$(function() {
        		$("#movieTable").find("tr:gt(0)").remove();
        	    $.each(data, function(i, item) {
        	    	if(item.name){
        	    		var button =  $('<input></input>').attr({'type': 'button', 'id': item.id}).val("Add To Cart");
        	        var $tr = $('<tr>').append(
        	            $('<td>').text(item.name),
        	            $('<td>').text(item.bannerName),
        	            $('<td>').text(item.releaseDate),
        	            $('<td>').text(item.category),
        	            $('<td>').text(item.rentAmount),
        	            $('<td>').text(item.availableCopies)
        	            ,$('<td>').append(button)
        	        ).appendTo('#movieTable');
        	        
        	        $("#movieTable").on('click', '#'+item.id,function(){
            	    	var obj = new Object();
            	    	obj.membershipno=$('#memshipno').attr('value');
            	    	obj.itemid = item.id;
            	    	
            	    	console.log(JSON.stringify(obj));
            	    	console.log("User " + obj.membershipno + " click: add To cart on ItemId: " + obj.itemid);
            	    	$.ajax({
            	    		type: "POST",
            	    		url: "addMovieToCart",
            	    		data: {membershipno: obj.membershipno, itemid: obj.itemid},
            	    		success: function(data){
            	    			console.log(data);
            	    		}
            	    		
            	    		
            	    	});
            	    });
        	    	}
        	    });
        	 
        	});
        	
        }
    });
    ev.preventDefault();
});


</script>
				
			</div>
	
	</div>
	
</body>
</html>
