<% include bootstrap.ejs %>
<html>
<head>
<title>Search Movie</title>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>

</head>
<body>

<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/searchCustomer">Search Customer</a></li>
					<li><a href="/addCustomer">Add Customer</a></li>
					<li><a href="/searchMovie">Search Movie</a></li>
					<li><a href="/addMovie">Add Movie</a></li>
					
					
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
				<h2>Search for a Movie <span class="glyphicon glyphicon-search"></span></h2>
				
				<form role="form" action="/DisplayAllMovies" method="POST">
				
				<div class="row">
			<div class="form-group col-md-3">
				<label for="movieName" class="control-label">Movie Name</label>
		
				<input type="text" name="movieName" id="mname"
					class="form-control" placeholder="Name"></input>
				
			</div>
			</div>
			
				<div class="row">
			<div class="form-group col-md-3">
				<label for="movieBanner" class="control-label">Banner Name</label>
		
			<input type="text" name="movieBanner" id="mbanner"
				class="form-control" placeholder="Banner name">
				
			</div>
			</div>
			
			<div class="row">
			<div class="form-group col-md-3">
				<label for="rdate" class="control-label">Release Date</label>
		
			<input type="text" name="rdate" id="rdate"
				class="form-control" placeholder="YYYY"></input>
				
			</div>
			</div>
			
			<div class="row">
			<div class="form-group col-md-3">
				<label for="rentAmount" class="control-label">Rent Amount </label>
		
			<input type="text" name="rentAmount" id="rentAmount"
				class="form-control" placeholder="$$.$$" ></input>
			
			</div>
			</div>
			
			<div class="row">
			<div class="form-group col-md-3">
				<label for="category" class="control-label">Category </label>
		
			<input type="text" name="category" id="category"
				class="form-control" placeholder="Mystery,Drama"></input>
				
			</div>
			</div>
			
				<div class="row">
			<div class="form-group col-md-3">
				<label for="quantity" class="control-label">Available Copies</label>
		
			<input type="text" name="quantity" id="quantity"
				class="form-control" placeholder="Copies" ></input>
				
			</div>
			</div>
				
				<br> <button type="submit" class="btn btn-primary" value="Add New Member">Submit</button>
				</form>
				
			</div>
	
	</div>

</body>
</html>