<% include bootstrap.ejs%>
<html>
<head>
<title>Add Customer</title>

</head>
<body>
	<h2>Search for a Member</h2>
	<div class="container">
		<form action="/Display all Members" method="POST">
			<input type="radio" name="member" value="premember">Premium
			Member<br> <input type="radio" name="member" value="simmember">Simple
			Member<br> First Name: <input type="text" name="firstName"
				id="fname"></input><br> <br> Last Name: <input type="text"
				name="lastName" id="lname"></input><br> <br> Address: <input
				type="text" name="address" id="address"></input><br> <br>
			City: <input type="text" name="city" id="city"></input><br> <br>
			State: <input type="text" name="state" id="state"></input><br> <br>
			ZipCode: <input type="text" name="zipCode" id="zipCode"></input><br>
			<br> MembershipNo : <input type="text" name="memNum" id="memNum"></input><br>
			<br> <input type="submit" name="submit" value="Search Member"></input>
	</div>
	</form>
</body>
</html>