<% include bootstrap.ejs %>
<html>
<head>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>

<title>user homePage</title>
</head>
<body>
	<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/customersearchMovie">Search Movie</a></li>
					<li><a href="/viewProfile?membershipno=<%=data.username%>">View Profile</a></li>
					<li><a href="/viewHistory?membershipno=<%=data.username%>">View History</a></li>
					</ul>	
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
				<h1 class="text-center">Online Video Digital Library System!</h1>
				<h3> Hello there, Welcome!! This is your place to search for available Movies, 
				view your profile and see your order history.</h3>
				
			</div>
	
	</div>
</body>
</html>